.jumbotron {
  /* background-image: url("https://deepdreamgenerator.com/storage/fast_queue/temp_images/86793bd1e4283b869407f4b85eb66233074e0336.jpg"); Cambia por la imagen de fondo deseada */
  background-color: #001f3f;
  color: #fff;
  padding: 100px 0;
  background-size: cover;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #f39c12;
  border-color: #f39c12;
}

#about {
  background-color: #f8f9fa; /* Fondo claro para resaltar la sección */
  padding: 80px 0;
}

#about h2 {
  color: #f39c12; /* Color principal para encabezados */
}

#about p {
  color: #6c757d; /* Color de texto oscuro para mayor legibilidad */
}

#faq {
  background-color: #f8f9fa; /* Fondo claro para resaltar la sección FAQ */
  padding: 80px 0;
}

#faq h2 {
  color: #f39c12; /* Color principal para encabezados */
}

.accordion {
  margin-bottom: 15px;
}

.accordion-button,
.accordion-button:not(.collapse) {
  background-color: #f39c12; /* Fondo del encabezado de la tarjeta */
  color: #fff; /* Texto blanco para mayor contraste */
}
